@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_core";

// ============================
// 共通要素
// ============================
/*==============================
共通要素
==============================*/
.wrap {
	@include wrap(640px);
    background: #f5f5f5;
}


// ============================
// l-header
// ============================
/*==============================
ヘッダー
==============================*/
.l-header {
	border-top: 30px solid #8acbfb;
    background: #fff;
    h1{
        padding: 30px 30px 25px;
        color: #333333;
        line-height: 34px;
        font-size: 24px;
    }
    .header-logo{
        text-align: center;
        padding: 0 0 30px;
    }
}

// ============================
// l-navi
// ============================
/*==============================
グローバルナビ
==============================*/
.l-navi {
    text-align: center;
}

// ============================
// l-mv
// ============================
/*==============================
メインビジュアル
==============================*/
.l-mv {
    text-align: center;
}

// ============================
// l-contents
// ============================
/*==============================
コンテンツ
==============================*/
.l-contents {
    .l-top-post-number{
        padding: 30px 0 0;
        .post-number-title{
            text-align: center;
            padding: 0 0 35px;
            background: #fff;
        }
        p{
            color: #333333;
            text-align: center;
            font-size: 80px;
            background: #fff;
            padding: 0 0 38px;
        }
        .new-post{
            background: #f5f5f5;
            text-align: center;
            padding: 30px 0;
            a{
                color: #1d9af8;
                font-size: 40px;
            }
        }
    }
    .l-top-search{
        .search-head{
            background: url(assets/img/top/search_bg.png) no-repeat;
            height: 214px;
            .search-title{
                text-align: center;
                padding: 19px 0 30px;
            }
            .search-box{
                position: relative;
                height: 80px;
                width: 580px;
                margin: 0 auto;
                input[type=text]{
                    background: url(assets/img/top/search_box_bg.png) no-repeat;
                    border: none;
                    outline: none;
                    width: 550px;
                    height: 80px;
                    padding: 0 0 0 30px;
                    font-size: 20px;
                }
                button[type=search]{
                    position: absolute;
                    height: 60px;
                    width: 150px;
                    right: 10px;
                    top: 10px;
                    border: none;
                    outline: none;
                    font-size: 0;
                    cursor: pointer;
                    background: url(assets/img/top/search_box_btn.png) no-repeat;
                }
            }
        }
        .search-by-area{
            padding: 0 0 30px;
            .sub-area {
                display: none;
            }
        }
        .search-by-employment{
            padding: 0 0 30px;
        }
    }
    .l-top-ranking{
        padding: 0 0 5px;
        background: #fff;
        .ranking-headline{
            padding: 30px 0 25px;
            text-align: center;
        }
        p{
            line-height: 50px;
            font-size: 24px;
            padding: 0 40px;
            color: #333;
        }
        .ranking-pic{
            text-align: center;
            padding: 30px 0;
        }
        .ranking-btn-detail{
            text-align: center;
            padding: 55px 0;
        }
    }
    .l-top-pagetop{
        text-align: center;
        padding: 60px 0;
    }
}


// ============================
// l-footer
// ============================
/*==============================
フッター
==============================*/
.l-footer {
    .l-copyright{
        background: #8acbfb;
        height: 33px;
        color: #333333;
        font-size: 20px;
        text-align: center;
        padding:  17px 0 0 0;
    }
}


