@charset "UTF-8";
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* General */
.float-list, .cf {
  *zoom: 1;
}
.float-list:after, .cf:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.float-list li {
  float: left;
}

/* Base */
body {
  font-size: 24px;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'sans-serif';
}

img {
  vertical-align: middle;
}

/* Layout */
/*==============================
共通要素
==============================*/
.wrap {
  width: 640px;
  margin: 0 auto;
  background: #f5f5f5;
}

/*==============================
ヘッダー
==============================*/
.l-header {
  border-top: 30px solid #8acbfb;
  background: #fff;
}
.l-header h1 {
  padding: 25px 30px 25px;
  color: #333333;
  line-height: 34px;
  font-size: 24px;
  letter-spacing: -0.7px;
}
.l-header .header-logo {
  text-align: center;
  padding: 0 0 30px;
}

/*==============================
グローバルナビ
==============================*/
.l-navi {
  text-align: center;
}

/*==============================
メインビジュアル
==============================*/
.l-mv {
  text-align: center;
}

/*==============================
コンテンツ
==============================*/
.l-contents {
  /* 勤務から探すの指定クラス*/
  /*会社概要 (company.html)
  ///////////////////////////////*/
  /*個別記事 (single.html)
  ///////////////////////////////*/
  /*検索一覧 (archive.html)
  ///////////////////////////////*/
}
.l-contents .l-top-post-number {
  padding: 30px 0 0;
  background: #fff;
}
.l-contents .l-top-post-number .post-number-title {
  text-align: center;
  padding: 0 0 35px;
}
.l-contents .l-top-post-number p {
  color: #333333;
  text-align: center;
  font-size: 80px;
  background: #fff;
  padding: 0 0 38px;
  font-weight: bold;
}
.l-contents .l-top-post-number p span {
  font-size: 50px;
  padding: 0 0 0 20px;
}
.l-contents .l-top-post-number .new-post {
  background: #f5f5f5;
  text-align: center;
  padding: 30px 0;
}
.l-contents .l-top-post-number .new-post a {
  color: #1d9af8;
  font-size: 40px;
}
.l-contents .search-by-area {
  padding: 0 0 30px;
}
.l-contents .search-by-area .headline {
  padding: 30px 0 0;
}
.l-contents .search-by-area .sub-area {
  display: none;
}
.l-contents .search-by-area ul li {
  font-size: 40px;
  font-weight: bold;
}
.l-contents .search-by-area ul li .area {
  width: 580px;
  height: 40px;
  padding: 30px;
  background: url(assets/img/top/top_search_area_bg_1.png) no-repeat 0 0;
}
.l-contents .search-by-area ul li .area-last {
  width: 580px;
  height: 46px;
  padding: 30px;
  background: url(assets/img/top/top_search_area_bg.png) no-repeat 0 0;
}
.l-contents .search-by-area ul li a {
  color: #333;
  text-decoration: none;
}
.l-contents .search-by-area ul li ul li {
  border-bottom: 3px solid #ccc;
  width: 610px;
  height: 40px;
  padding: 30px 0 30px 30px;
  background: #fff url(assets/img/top/top_search_area_li_bg.png) no-repeat 580px 40px;
}
.l-contents .search-by-area ul li ul li:first-child {
  border-bottom: 3px solid #ccc;
  border-top: 3px solid #ccc;
  width: 610px;
  height: 40px;
  padding: 30px 0 30px 30px;
  background: #fff url(assets/img/top/top_search_area_li_bg.png) no-repeat 580px 40px;
}
.l-contents .search-by-area ul li ul li:last-child {
  border-bottom: none;
  border-top: none;
  width: 610px;
  height: 40px;
  padding: 30px 0 30px 30px;
  background: #fff url(assets/img/top/top_search_area_li_bg.png) no-repeat 580px 40px;
}
.l-contents .search-by-area ul li ul li.area07-top {
  border-top: none;
}
.l-contents .search-by-area ul li ul li.area07-foot {
  border-bottom: 3px solid #ccc;
}
.l-contents .l-top-search .search-head {
  background: url(assets/img/top/search_bg.png) no-repeat;
  height: 214px;
}
.l-contents .l-top-search .search-head .search-title {
  text-align: center;
  padding: 19px 0 30px;
}
.l-contents .l-top-search .search-head .search-box {
  position: relative;
  height: 80px;
  width: 580px;
  margin: 0 auto;
}
.l-contents .l-top-search .search-head .search-box input[type=text] {
  background: url(assets/img/top/search_box_bg.png) no-repeat;
  border: none;
  outline: none;
  width: 380px;
  height: 80px;
  padding: 0 170px 0 30px;
  font-size: 20px;
}
.l-contents .l-top-search .search-head .search-box button[type=search] {
  position: absolute;
  height: 60px;
  width: 150px;
  right: 10px;
  top: 10px;
  border: none;
  outline: none;
  font-size: 0;
  cursor: pointer;
  background: url(assets/img/top/search_box_btn.png) no-repeat;
}
.l-contents .l-top-search .search-by-employment {
  padding: 0 0 30px;
}
.l-contents .l-top-search .search-by-employment li {
  border-bottom: 3px solid #ccc;
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
  background: url(assets/img/top/top_search_by_bg.png) no-repeat 0 0;
}
.l-contents .l-top-search .search-by-employment li a {
  text-decoration: none;
  color: #333;
}
.l-contents .l-top-search .search-by-qualification {
  padding: 0 0 30px;
}
.l-contents .l-top-search .search-by-qualification li {
  border-bottom: 3px solid #ccc;
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
  background: url(assets/img/top/top_search_by_bg.png) no-repeat 0 0;
}
.l-contents .l-top-search .search-by-qualification li a {
  text-decoration: none;
  color: #333;
}
.l-contents .l-top-search .search-by-holiday {
  padding: 0 0 30px;
}
.l-contents .l-top-search .search-by-holiday li {
  border-bottom: 3px solid #ccc;
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
  background: url(assets/img/top/top_search_by_bg.png) no-repeat 0 0;
}
.l-contents .l-top-search .search-by-holiday li a {
  text-decoration: none;
  color: #333;
}
.l-contents .l-top-ranking {
  padding: 0 0 5px;
  background: #fff;
}
.l-contents .l-top-ranking .ranking-headline {
  padding: 30px 0 25px;
  text-align: center;
}
.l-contents .l-top-ranking p {
  line-height: 50px;
  font-size: 24px;
  padding: 0 40px;
  color: #333;
}
.l-contents .l-top-ranking .ranking-pic {
  text-align: center;
  padding: 30px 0;
}
.l-contents .l-top-ranking .ranking-btn-detail {
  text-align: center;
  padding: 55px 0;
}
.l-contents .l-pagetop, .l-contents .l-top-pagetop {
  text-align: center;
  padding: 60px 0;
}
.l-contents .l-company {
  text-align: center;
}
.l-contents .l-single {
  background: #fff;
}
.l-contents .l-single h2 {
  padding: 30px 0 40px 30px;
  background: url(assets/img/page/single/single_h2_bg.png) no-repeat;
  color: #fff;
  margin: 0 0 40px;
  font-weight: bold;
  font-size: 40px;
}
.l-contents .l-single h3 {
  border-top: 4px solid #8acbfb;
  padding: 30px 0 51px 130px;
  background: url(assets/img/page/single/single_h3_bg.png) no-repeat 0 5px;
  font-weight: bold;
  font-size: 40px;
}
.l-contents .l-single h4 {
  padding: 30px;
  font-size: 40px;
  color: #333333;
  line-height: 67px;
  font-weight: bold;
}
.l-contents .l-single h4 span {
  color: #054e84;
  padding: 0 8px 0 0;
  font-size: 47px;
  position: relative;
  top: 5px;
}
.l-contents .l-single dt {
  background: url(assets/img/page/single/single_dt_bg.png) no-repeat;
  height: 50px;
  width: 580px;
  padding: 20px 30px 30px;
  font-size: 40px;
  font-weight: bold;
  line-height: 67px;
}
.l-contents .l-single dd {
  padding: 32px 30px;
  line-height: 35px;
  font-size: 24px;
  letter-spacing: -0.8px;
  color: #333333;
}
.l-contents .l-single .single-btn-consultant {
  text-align: center;
  padding: 100px 0;
}
.l-contents .l-single .single-map {
  text-align: center;
  padding: 0 0 100px;
}
.l-contents .l-single ul.related-news {
  padding: 30px 30px 0;
  border-bottom: 4px solid #8acbfb;
}
.l-contents .l-single ul.related-news li {
  padding: 0 0 45px;
}
.l-contents .l-single ul.related-news li a {
  color: #054e84;
  font-size: 24px;
  line-height: 35px;
}
.l-contents .l-single ul.related-news li:last-child {
  padding: 0 0 26px;
}
.l-contents .l-archive h2 {
  padding: 30px 0 40px 30px;
  background: url(assets/img/page/single/single_h2_bg.png) no-repeat;
  color: #fff;
  margin: 0 0 40px;
  font-weight: bold;
  font-size: 40px;
}
.l-contents .l-archive h3 {
  padding: 30px 0 51px 130px;
  background: url(assets/img/page/archive/archive_h3_bg.png) no-repeat 36px 23px;
  font-weight: bold;
  font-size: 40px;
}
.l-contents .l-archive .archive-search {
  background: #fff url(assets/img/top/search_bg.png) no-repeat;
  height: 214px;
  padding: 0 0 30px;
}
.l-contents .l-archive .archive-search .search-title {
  text-align: center;
  padding: 19px 0 30px;
}
.l-contents .l-archive .archive-search .search-box {
  position: relative;
  height: 80px;
  width: 580px;
  margin: 0 auto;
}
.l-contents .l-archive .archive-search .search-box input[type=text] {
  background: url(assets/img/top/search_box_bg.png) no-repeat;
  border: none;
  outline: none;
  width: 380px;
  height: 80px;
  padding: 0 170px 0 30px;
  font-size: 20px;
}
.l-contents .l-archive .archive-search .search-box button[type=search] {
  position: absolute;
  height: 60px;
  width: 150px;
  right: 10px;
  top: 10px;
  border: none;
  outline: none;
  font-size: 0;
  cursor: pointer;
  background: url(assets/img/top/search_box_btn.png) no-repeat;
}
.l-contents .l-archive .search-archive {
  padding: 25px 0 0;
  background: #fff;
}
.l-contents .l-archive .search-archive p {
  color: #333;
  font-size: 24px;
  padding: 0 30px 30px;
}
.l-contents .l-archive .search-archive p.headline {
  font-weight: bold;
  font-size: 40px;
  height: 60px;
  background: url(assets/img/page/archive/search_archive_bg.png) no-repeat 0 70px;
}
.l-contents .l-archive .search-archive p.headline span {
  color: #054e84;
  font-size: 40px;
  padding: 0 10px 0 0;
}
.l-contents .l-archive .search-archive p.result {
  padding: 30px;
}
.l-contents .l-archive .search-archive p span {
  color: #ff5e00;
  font-size: 40px;
}
.l-contents .l-archive .l-archive-list {
  border-top: 4px solid #8acbfb;
  border-bottom: 4px solid #8acbfb;
}
.l-contents .l-archive .l-archive-list .archive-single {
  background: #fff url(assets/img/page/archive/archive_hospital_bg.png) repeat-x left bottom;
  padding: 0 0 68px;
}
.l-contents .l-archive .l-archive-list .archive-single:last-child {
  background: #fff;
  padding: 0;
}
.l-contents .l-archive .l-archive-list .archive-single dt {
  background: url(assets/img/page/single/single_dt_bg.png) no-repeat;
  height: 50px;
  width: 580px;
  padding: 20px 30px 30px;
  font-size: 40px;
  font-weight: bold;
}
.l-contents .l-archive .l-archive-list .archive-single dd {
  padding: 32px 30px;
  line-height: 35px;
  font-size: 24px;
  letter-spacing: -0.8px;
  color: #333333;
  background: #fff;
}
.l-contents .l-archive .l-archive-list .archive-single .archive-btn-detail {
  text-align: center;
  border-top: 4px solid #cccccc;
  padding: 60px 0;
}
.l-contents .l-archive .pagination {
  background: #f5f5f5 url(assets/img/page/archive/archive_pagination_bg.png) repeat-x left top;
  font-size: 55px;
  text-align: center;
  padding: 59px 0 60px;
}
.l-contents .l-archive .pagination li {
  display: inline;
}
.l-contents .l-archive .pagination li.active {
  background: url(assets/img/page/archive/archive_pagination_li_bg.png) no-repeat left top;
  padding: 10px 25px;
}
.l-contents .l-archive .pagination li a {
  text-decoration: none;
  background: url(assets/img/page/archive/archive_pagination_a_bg.png) no-repeat center center;
  padding: 10px 30px;
  color: #fff;
}
.l-contents .l-archive .archive-filter {
  background: #fff;
}
.l-contents .l-archive .archive-filter th, .l-contents .l-archive .archive-filter td {
  display: block;
  border-bottom: 4px solid #ccc;
}
.l-contents .l-archive .archive-filter td {
  padding: 30px;
}
.l-contents .l-archive .archive-filter th {
  padding: 25px 30px 35px 130px;
  font-size: 40px;
  font-weight: bold;
  width: 480px;
  height: 40px;
}
.l-contents .l-archive .archive-filter th.head1 {
  background: url(assets/img/page/archive/th_head_01.png) no-repeat;
}
.l-contents .l-archive .archive-filter th.head2 {
  background: url(assets/img/page/archive/th_head_02.png) no-repeat;
}
.l-contents .l-archive .archive-filter th.head3 {
  background: url(assets/img/page/archive/th_head_03.png) no-repeat;
}
.l-contents .l-archive .archive-filter input[type=checkbox]:not(old) {
  margin: 0;
  padding: 0;
  opacity: 0;
  display: none;
}
.l-contents .l-archive .archive-filter input[type=checkbox]:not(old) + label {
  display: inline-block;
  padding: 0 0 0 100px;
  background: url(assets/img/page/archive/archive_filter_checkbox_check.png) no-repeat 0 0;
  height: 50px;
  font-size: 40px;
  font-weight: bold;
}
.l-contents .l-archive .archive-filter input[type=checkbox]:not(old):checked + label {
  background-position: 0 -69px;
}
.l-contents .l-archive .archive-filter .archive-filter-btn {
  text-align: center;
  background: #f5f5f5;
  padding: 60px 0 0;
}

/*==============================
フッター
==============================*/
.l-footer {
  background: #fff;
}
.l-footer li {
  background: #fff url(assets/img/top/top_search_area_li_bg.png) no-repeat 580px 40px;
  border-bottom: 3px solid #ccc;
  padding: 30px;
}
.l-footer li:first-child {
  border-top: 3px solid #ccc;
}
.l-footer li a {
  text-decoration: none;
  color: #333;
  font-size: 40px;
  font-weight: bold;
}
.l-footer .l-copyright {
  background: #8acbfb;
  height: 33px;
  color: #333333;
  font-size: 20px;
  text-align: center;
  padding: 17px 0 0 0;
}
