@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_core";

// ============================
// 共通要素
// ============================
/*==============================
共通要素
==============================*/
.wrap {
	@include wrap(640px);
    background: #fdfde3;
}


// ============================
// l-header
// ============================
/*==============================
ヘッダー
==============================*/
.l-header {
	border-top: 30px solid #fca5a5;
    background: #fff;
    h1{
        padding: 25px 30px 25px;
        color: #333333;
        line-height: 34px;
        font-size: 24px;
    }
    .header-logo{
        text-align: center;
        padding: 0 0 30px;
    }
}

// ============================
// l-navi
// ============================
/*==============================
グローバルナビ
==============================*/
.l-navi {
    text-align: center;
}

// ============================
// l-mv
// ============================
/*==============================
メインビジュアル
==============================*/
.l-mv {
    text-align: center;
    background: #fff;
}

// ============================
// l-contents
// ============================
/*==============================
コンテンツ
==============================*/
.l-contents {
    .l-top-post-number{
        padding: 30px 0 0;
        .post-number-title{
            text-align: center;
        }
        p{
            color: #333333;
            text-align: center;
            font-size: 80px;
            background: #fff;
            padding: 35px 0 38px;
            font-weight: bold;
            span{
                font-size: 50px;
                padding: 0 0 0 20px;
            }
        }
        .new-post{
            text-align: center;
            padding: 30px 0;
            a{
                color: #fa5050;
                font-size: 40px;
            }
        }
    }
    .l-top-search{
        .search-head{
            background: url(assets/img/top/search_bg.png) no-repeat;
            height: 214px;
            .search-title{
                text-align: center;
                padding: 19px 0 30px;
            }
            .search-box{
                position: relative;
                height: 80px;
                width: 580px;
                margin: 0 auto;
                input[type=text]{
                    background: url(assets/img/top/search_box_bg.png) no-repeat;
                    border: none;
                    outline: none;
                    width: 380px;
                    height: 80px;
                    padding: 0 170px 0 30px;
                    font-size: 20px;
                }
                button[type=search]{
                    position: absolute;
                    height: 60px;
                    width: 150px;
                    right: 10px;
                    top: 10px;
                    border: none;
                    outline: none;
                    font-size: 0;
                    cursor: pointer;
                    background: url(assets/img/top/search_box_btn.png) no-repeat;
                }
            }
        }
        .search-by-area{
            padding: 0 0 30px;
            .headline{
            	padding: 30px 0 0;
            }
            .headline{
                padding: 30px 0 0;
            }
            .sub-area {
                display: none;
            }
        }
        ul{
            li{
                font-size: 40px;
                font-weight: bold;
                .area{
                    width: 580px;
                    height: 40px;
                    padding: 30px;
                    background: url(assets/img/top/top_search_area_bg_1.png) no-repeat 0 0;
                }
                .area-last{
                    width: 580px;
                    height: 46px;
                    padding: 30px;
                    background: url(assets/img/top/top_search_area_bg.png) no-repeat 0 0;
                }
                a{
                    color: #333;
                    text-decoration: none;
                }
                ul{
                    li{
                        border-bottom: 3px solid #ccc;
                        width: 610px;
                        height: 40px;
                        padding: 30px 0 30px 30px;
                        background: #fff url(assets/img/top/top_search_area_li_bg.png) no-repeat 580px 40px;
                        &:first-child{
                            border-bottom: 3px solid #ccc;
                            border-top: 3px solid #ccc;
                            width: 610px;
                            height: 40px;
                            padding: 30px 0 30px 30px;
                            background: #fff url(assets/img/top/top_search_area_li_bg.png) no-repeat 580px 40px;
                        }
                        &:last-child{
                            border-bottom: none;
                            border-top: none;
                            width: 610px;
                            height: 40px;
                            padding: 30px 0 30px 30px;
                            background: #fff url(assets/img/top/top_search_area_li_bg.png) no-repeat 580px 40px;
                        }
                        &.area07-top{
                            border-top: none;
                        }
                        &.area07-foot{
                            border-bottom: 3px solid #ccc;
                        }
                    }
                }
            }
        }
        .search-by-employment{
            padding: 0 0 30px;
            li{
                border-bottom: 3px solid #ccc;
                padding: 30px;
                background: url(assets/img/top/top_search_by_bg.png) no-repeat 0 0;
            }
        }
        .search-by-qualification{
            padding: 0 0 30px;
            li{
                border-bottom: 3px solid #ccc;
                padding: 30px;
                background: url(assets/img/top/top_search_by_bg.png) no-repeat 0 0;
            }
        }
        .search-by-holiday{
            padding: 0 0 30px;
            li{
                border-bottom: 3px solid #ccc;
                padding: 30px;
                background: url(assets/img/top/top_search_by_bg.png) no-repeat 0 0;
            }
        }
    }
    .l-top-ranking{
        padding: 0 0 5px;
        background: #fff;
        .ranking-headline{
            padding: 30px 0 25px;
            text-align: center;
        }
        p{
            line-height: 50px;
            font-size: 24px;
            padding: 0 40px;
            color: #333;
        }
        .ranking-pic{
            text-align: center;
            padding: 30px 0;
        }
        .ranking-btn-detail{
            text-align: center;
            padding: 55px 0;
        }
    }
    .l-pagetop, .l-top-pagetop{
        text-align: center;
        padding: 60px 0;
    }


    /*会社概要 (company.html)
    ///////////////////////////////*/
    .l-company{
        text-align: center;
    }

    /*個別記事 (single.html)
    ///////////////////////////////*/
    .l-single{
        background: #fff;
        h2{
            padding: 30px 0 70px 30px;
            background: #fdfde3 url(assets/img/page/single/single_h2_bg.png) no-repeat;
            color: #fff;
            font-weight: bold;
            font-size: 40px;
        }
        h3{
            border-top: 4px solid #fa5050;
            padding: 30px 0 51px 130px;
            background: url(assets/img/page/single/single_h3_bg.png) no-repeat 0 15px;
            font-weight: bold;
            font-size: 40px;
        }
        h4{
            padding: 30px;
            font-size: 40px;
            color: #333333;
            line-height: 67px;
            font-weight: bold;
            span{
                color: #fa5050;
                padding: 0 8px 0 0;
                font-size: 47px;
                position: relative;
                top: 5px;
            }
        }
        dt{
            background: url(assets/img/page/single/single_dt_bg.png) no-repeat;
            height: 50px;
            width: 580px;
            padding: 20px 30px 30px;
            font-size: 40px;
            font-weight: bold;
            line-height: 67px;
        }
        dd{
            padding: 32px 30px;
            line-height: 35px;
            font-size: 24px;
            letter-spacing: -0.8px;
            color: #333333;
        }
        .single-btn-consultant{
            text-align: center;
            padding: 100px 0;
        }
        .single-map{
            text-align: center;
            padding: 0 0 100px;
        }
        ul.related-news{
            padding: 30px 30px 0;
            border-bottom: 4px solid #fa5050;
            li{
                padding: 0 0 45px;
                a{
                    color: #333333;
                    font-size: 24px;
                    line-height: 35px;
                }
                &:last-child{
                    padding: 0 0 26px;
                }
            }
        }
    }
    /*検索一覧 (archive.html)
    ///////////////////////////////*/
    .l-archive{
        h2{
            background: url("assets/img/page/single/single_h2_bg.png") no-repeat 0 0;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
            margin: 0 0 35px;
            padding: 30px 0 25px 30px;
        }
        h3{
            padding: 30px 0 51px 130px;
            background: url(assets/img/page/archive/archive_h3_bg.png) no-repeat 36px 23px;
            font-weight: bold;
            font-size: 40px;
        }
        .archive-search{
            background: #fdfde3 url(assets/img/top/search_bg.png) no-repeat;
            height: 214px;
            padding: 0 0 30px;
            .search-title{
                text-align: center;
                padding: 19px 0 30px;
            }
            .search-box{
                position: relative;
                height: 80px;
                width: 580px;
                margin: 0 auto;
                input[type=text]{
                    background: url(assets/img/top/search_box_bg.png) no-repeat;
                    border: none;
                    outline: none;
                    width: 380px;
                    height: 80px;
                    padding: 0 170px 0 30px;
                    font-size: 20px;
                }
                button[type=search]{
                    position: absolute;
                    height: 60px;
                    width: 150px;
                    right: 10px;
                    top: 10px;
                    border: none;
                    outline: none;
                    font-size: 0;
                    cursor: pointer;
                    background: url(assets/img/top/search_box_btn.png) no-repeat;
                }
            }
        }
        .search-archive{
            padding: 25px 0 0;
            background: #fff;
            p{
                color: #333;
                font-size: 24px;
                padding: 0 30px 30px;
                &.headline{
                    font-weight: bold;
                    font-size: 40px;
                    height: 60px;
                    background: url(assets/img/page/archive/search_archive_bg.png) no-repeat 0 70px;
                    span{
                        color:#fa5050;
                        font-size: 40px;
                        padding: 0 10px 0 0;
                    }
                }
                &.result{
                    padding: 30px;
                }
                span{
                    color: #ff5e00;
                    font-size: 40px;
                }
            }
        }
       .l-archive-list{
            border-top: 4px solid #fa5050;
            border-bottom: 4px solid #fa5050;
           .archive-single{
                background: #fff url(assets/img/page/archive/archive_hospital_bg.png) repeat-x  left bottom;
                padding: 0 0 68px;
                &:last-child{
                    background: #fff;
                    padding: 0;
                }
                dt{
                    background: url(assets/img/page/single/single_dt_bg.png) no-repeat;
                    height: 50px;
                    width: 580px;
                    padding: 20px 30px 30px;
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 60px;
                }
                dd{
                    padding: 32px 30px;
                    line-height: 35px;
                    font-size: 24px;
                    letter-spacing: -0.8px;
                    color: #333333;
                    background: #fff;
                }
                .archive-btn-detail{
                    text-align: center;
                    border-top: 4px solid #cccccc;
                    padding: 60px 0;
                }
            }
        }
        .pagination{
            background: #f5f5f5 url(assets/img/page/archive/archive_pagination_bg.png) repeat-x left top;
            font-size: 55px;
            text-align: center;
            padding: 59px 0 60px;
            li{
                display: inline;
                &.active{
                    background: url(assets/img/page/archive/archive_pagination_li_bg.png) no-repeat left top;
                    padding: 15px 33px;

                }
                a{
                    text-decoration: none;
                    background: url(assets/img/page/archive/archive_pagination_a_bg.png) no-repeat center center;
                    padding: 15px 33px;
                    color: #fff;

                }
            }
        }
        .archive-filter{
            background: #fff;
            th,td{
                display: block;
                border-bottom: 4px solid #ccc;
            }
            td{
                padding: 30px;
            }
            th{
                padding: 25px 30px 35px 130px;
                font-size: 40px;
                font-weight: bold;
                width: 480px;
                height: 40px;
                &.head1{
                    background: url(assets/img/page/archive/th_head_01.png) no-repeat;
                }
                &.head2{
                    background: url(assets/img/page/archive/th_head_02.png) no-repeat;
                }
                &.head3{
                    background: url(assets/img/page/archive/th_head_03.png) no-repeat;
                }
            }
            input[type=checkbox]:not(old){
                margin  : 0;
                padding : 0;
                opacity : 0;
                display: none;
            }

            input[type=checkbox]:not(old) + label{
                display      : inline-block;
                padding : 5px 0 0 100px;
                background   : url(assets/img/page/archive/archive_filter_checkbox_check.png) no-repeat 0 0;
                height: 50px;
                font-size: 40px;
                font-weight: bold;
            }

            input[type=checkbox]:not(old):checked + label{
                background-position : 0 -69px;
            }
            .archive-filter-btn{
                text-align: center;
                background: #fdfde9;
                padding: 60px 0 0;
            }
        }
    }
}


// ============================
// l-footer
// ============================
/*==============================
フッター
==============================*/

.l-footer {
    background: #fff;
    li{
        background: #fff url(assets/img/top/top_search_area_li_bg.png) no-repeat 580px 40px;
        border-bottom: 3px solid #ccc;
        padding: 30px;
        &:first-child{
            border-top: 3px solid #ccc;
        }
        &.toppage{
            border-top: none;
        }
        a{
            text-decoration: none;
            color: #333;
            font-size: 40px;
            font-weight: bold;
        }
    }
    .l-copyright{
        background: #fa5050;
        height: 33px;
        color: #fff;
        font-size: 20px;
        text-align: center;
        padding:  17px 0 0 0;
    }
}

